body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: left;
}

.logo {
    width: 140px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin-right: px;
}
nav a {
    margin-left: 1em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);;
    box-shadow: 0 0 10px rgba(241, 239, 239, 0.2);
}
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-info h4 {
    margin: 0;
    color: #333;
}

.item-info p {
    margin: 5px 0;
    color: #666;
}

.price {
    color: #0201108c;
    font-weight: bold;
}

.remove-btn {
    background-color: #ff4500;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-total button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total p {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
